<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <title>SVG Manipulation</title>
</head>
<body>
    <h1>SVG Manipulation with JavaScript</h1>
    <svg id="mySvg" width="1680" height="1050"></svg>
    <button type="button" id="button-1">Change colour</button>
    <button type="button" id="button-2">Popout</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>